.page {
  &__advantages {
  }
}
.advantages {
  @include adaptiveValue('padding-top', 80, 30);
  @include adaptiveValue('padding-bottom', 80, 30);
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: rem(8);
  }

  &__item {
    display: inline-grid;
    padding: rem(15) 0;
    grid-template: auto auto / rem(87) 1fr;
    @media (max-width: $tablet) {
      min-width: rem(280);
    }
    @media (max-width: $mobile) {
      grid-template: auto auto / auto 1fr;
    }
  }

  &__icon {
    grid-row: 1 / 3;
    text-align: center;
    align-self: center;
    @media (max-width: $mobile) {
      padding: 0px rem(15) 0px 0px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: rem(18);
    line-height: 150%;
    margin-bottom: rem(2);
  }

  &__text {
    font-weight: 500;
    font-size: rem(16);
    line-height: 150%;
    color: $grayColor;
  }
}
