<section class="page__gallery gallery">
  <div class="gallery__wrapper">
    <div class="gallery__label">Share your setup with</div>
    <h2 class="gallery__title _title">#FuniroFurniture</h2>
    <div class="gallery__body" data-speed="0.01">
      <div class="gallery__items _gallery">
        <div class="gallery__column" >
          <div  data-gallery class="gallery__row row-gallery row-gallery_left-top">
            <a data-src="@img/furniture/09.jpg" href="img/furniture/09.jpg" class="row-gallery__item __image-ibg"><img  data-src="@img/furniture/09.jpg" alt="Image" /></a>
            <a href="@img/furniture/01.jpg" class="row-gallery__item __image-ibg"><img  data-src="@img/furniture/01.jpg" alt="Image" /></a>
            <a href="@img/furniture/02.jpg" class="row-gallery__item __image-ibg"><img  data-src="@img/furniture/02.jpg" alt="Image" /></a>
          </div>
          <div  data-gallery class="gallery__row row-gallery row-gallery_left-bottom">
            <a href="@img/furniture/04.jpg" class="row-gallery__item __image-ibg"><img  data-src="@img/furniture/04.jpg" alt="Image" /></a>
            <a href="@img/furniture/06.jpg" class="row-gallery__item __image-ibg"><img  data-src="@img/furniture/06.jpg" alt="Image" /></a>
            <a href="@img/furniture/07.jpg" class="row-gallery__item __image-ibg"><img  data-src="@img/furniture/07.jpg" alt="Image" /></a>
          </div>
        </div>
        <div class="gallery__column">
          <div  data-gallery class="gallery__row row-gallery row-gallery_center">
            <a href="@img/furniture/03.jpg" class="row-gallery__item __image-ibg"><img data-src="@img/furniture/03.jpg"   alt="Image" /></a>
          </div>
        </div>
        <div class="gallery__column">
          <div  data-gallery class="gallery__row row-gallery row-gallery_right-top">
            <a href="@img/furniture/04.jpg" class="row-gallery__item __image-ibg"><img  data-src="@img/furniture/04.jpg" alt="Image" /></a>
            <a href="@img/furniture/05.jpg" class="row-gallery__item __image-ibg"><img  data-src="@img/furniture/05.jpg" alt="Image" /></a>
            <a href="@img/furniture/01.jpg" class="row-gallery__item __image-ibg"><img  data-src="@img/furniture/01.jpg" alt="Image" /></a>
          </div>
          <div  data-gallery class="gallery__row row-gallery row-gallery_right-bottom">
            <a href="@img/furniture/08.jpg" class="row-gallery__item __image-ibg"><img  data-src="@img/furniture/08.jpg" alt="Image" /></a>
            <a href="@img/furniture/09.jpg" class="row-gallery__item __image-ibg"><img  data-src="@img/furniture/09.jpg" alt="Image" /></a>
            <a href="@img/furniture/06.jpg" class="row-gallery__item __image-ibg"><img  data-src="@img/furniture/06.jpg" alt="Image" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
