<section class="page__main-slider main-slider">
  <div class="main-slider__container">
    <div class="main-slider__body">
      <div class="main-slider__content content-main">
        <h1 class="content-main__title">High-Quality Furniture Just For You</h1>
        <p class="content-main__text">Our furniture is made from selected and best quality materials that are suitable for your dream home</p>
        <a href="#" class="content-main__button button">Shop Now</a>
      </div>
      <div class="main-slider__slider slider-main">
        <div class="slider-main__controlls controlls-slider-main">
          <div class="controlls-slider-main__dotts"></div>
          <div class="controlls-slider-main__arrows slider-arrows">
            <button type="button" class="slider-arrow slider-arrow_prev _icon-arrow-down"></button>
            <button type="button" class="slider-arrow slider-arrow_next _icon-arrow-down"></button>
          </div>
        </div>
        <div class="slider-main__body swiper">
          <div class="slider-main__wrapper swiper-wrapper">
            <div class="slider-main__slide swiper-slide">
              <div class="slider-main__image">
                <img data-src="@img/main-slider/01.jpg" alt="">
              </div>
              <a href="#" class="slider-main__content">
                <div class="slider-main__title">Bohauss</div>
                <div class="slider-main__text">Luxury big sofa 2-seat</div>
                <div class="slider-main__price _icon-arrow-link">Rp 17.000.000</div>
              </a>
            </div>
             <div class="slider-main__slide swiper-slide">
              <div class="slider-main__image">
                <img data-src="@img/main-slider/01.jpg" alt="">
              </div>
              <a href="#" class="slider-main__content">
                <div class="slider-main__title">Bohauss</div>
                <div class="slider-main__text">Luxury big sofa 2-seat</div>
                <div class="slider-main__price _icon-arrow-link">Rp 17.000.000</div>
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>