<section class="page__products products">
  <div class="products__container">
    <h2 class="products__title _title">Our Products</h2>
    <div class="products__items">
      <article data-pi="1" class="products__item item-product">
        <div class="item-product__labels">
          <div class="item-product__label item-product__label_sale">-30%</div>
          <!-- <div class="item-product__label item-product__label_new">new</div> -->
        </div>
        <a href="" class="item-product__image ibg">
          <img class="ibg" src="@img/products/01.jpg" alt="" />
        </a>
        <div class="item-product__body">
          <div class="item-product__content">
            <h5 class="item-product__title">Syltherine</h5>
            <div class="item-product__text">Stylish cafe chair</div>
          </div>
          <div class="item-product__prices">
            <div class="item-product_price">Rp 2.500.000</div>
            <div class="item-product_price item-product_price_old">Rp 3.500.000</div>
          </div>
          <div class="item-product__actions actions-product">
            <div class="actions-product__body">
              <a href="" class="actions-product__button button button_white">Add to cart</a>
              <a href="" class="actions-product__link _icon-share">Share</a>
              <a href="" class="actions-product__link _icon-favorite">Like</a>
            </div>
          </div>
        </div>
      </article>
       <article data-pi="4" class="products__item item-product">
        <div class="item-product__labels">
          <div class="item-product__label item-product__label_sale">-30%</div>
          <!-- <div class="item-product__label item-product__label_new">new</div> -->
        </div>
        <a href="" class="item-product__image ibg">
          <img class="ibg" src="@img/products/04.jpg" alt="" />
        </a>
        <div class="item-product__body">
          <div class="item-product__content">
            <h5 class="item-product__title">Syltherine</h5>
            <div class="item-product__text">Stylish cafe chair</div>
          </div>
          <div class="item-product__prices">
            <div class="item-product_price">Rp 2.500.000</div>
            <div class="item-product_price item-product_price_old">Rp 3.500.000</div>
          </div>
          <div class="item-product__actions actions-product">
            <div class="actions-product__body">
              <a href="" class="actions-product__button button button_white">Add to cart</a>
              <a href="" class="actions-product__link _icon-share">Share</a>
              <a href="" class="actions-product__link _icon-favorite">Like</a>
            </div>
          </div>
        </div>
      </article>
       <article data-pi="2" class="products__item item-product">
        <div class="item-product__labels">
          <div class="item-product__label item-product__label_sale">-30%</div>
          <!-- <div class="item-product__label item-product__label_new">new</div> -->
        </div>
        <a href="" class="item-product__image ibg">
          <img class="ibg" src="@img/products/02.jpg" alt="" />
        </a>
        <div class="item-product__body">
          <div class="item-product__content">
            <h5 class="item-product__title">Syltherine</h5>
            <div class="item-product__text">Stylish cafe chair</div>
          </div>
          <div class="item-product__prices">
            <div class="item-product_price">Rp 2.500.000</div>
            <div class="item-product_price item-product_price_old">Rp 3.500.000</div>
          </div>
          <div class="item-product__actions actions-product">
            <div class="actions-product__body">
              <a href="" class="actions-product__button button button_white">Add to cart</a>
              <a href="" class="actions-product__link _icon-share">Share</a>
              <a href="" class="actions-product__link _icon-favorite">Like</a>
            </div>
          </div>
        </div>
      </article>
       <article data-pi="3" class="products__item item-product">
        <div class="item-product__labels">
          <div class="item-product__label item-product__label_sale">-30%</div>
          <!-- <div class="item-product__label item-product__label_new">new</div> -->
        </div>
        <a href="" class="item-product__image ibg">
          <img class="ibg" src="@img/products/03.jpg" alt="" />
        </a>
        <div class="item-product__body">
          <div class="item-product__content">
            <h5 class="item-product__title">Syltherine</h5>
            <div class="item-product__text">Stylish cafe chair</div>
          </div>
          <div class="item-product__prices">
            <div class="item-product_price">Rp 2.500.000</div>
            <div class="item-product_price item-product_price_old">Rp 3.500.000</div>
          </div>
          <div class="item-product__actions actions-product">
            <div class="actions-product__body">
              <a href="" class="actions-product__button button button_white">Add to cart</a>
              <a href="" class="actions-product__link _icon-share">Share</a>
              <a href="" class="actions-product__link _icon-favorite">Like</a>
            </div>
          </div>
        </div>
      </article>
    </div>
    <div class="products__footer">
      <button class="products__more button button_white" type="button">Show More</button>
    </div>
  </div>
</section>
