._title {
  @include adaptiveValue("font-size", 40, 24);
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}
._flyimage.ibg {
  opacity: 1;
  position: fixed;
  z-index: 100;
  transition: all 1s ease 0s;
}
._footer-title {
  @include adaptiveValue('font-size', 24, 20);
  line-height: math.div(29, 24);
  color: #000;
  font-weight: 700;
}
.slider-arrows {
  display: grid;
  grid-template-columns: repeat(2, rem(48));
  column-gap: rem(8);
}
.slider-arrow {
  pointer-events: auto;
  border-radius: 50%;
  height: rem(48);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(12);
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: rgba(232, 159, 113, 0.3);
  color: $orangeColor;

  @media (any-hover: hover) {
    &:hover {
      color: #fff;
      background-color: rgba(232, 159, 113, 1);
    }
  }

  &_prev {
    &::before {
      transform: rotate(90deg);
    }
  }

  &_next {
    &::before {
      transform: rotate(-90deg);
    }
  }
  &_white {
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
    background: rgb(255, 255, 255);
    @media (any-hover: hover) {
      &:hover {
        color: #fff;
        background-color: rgba(232, 159, 113, 1);
      }
    }
  }
}
.swiper-pagination-bullets {
  display: flex;
  flex-wrap: wrap;
  // gap: rem(20);
}
.swiper-pagination-bullet {
  border-radius: 50%;
  flex: 0 0 rem(27);
  height: rem(27);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0px;
  &:not(:last-child) {
    margin: 0px 12px 0px 0px;
  }

  &::before {
    content: '';
    width: rem(11);
    height: rem(11);
    background-color: #d8d8d8;
    border-radius: 50%;
  }
}
.swiper-pagination-bullet-active {
  border: 1px solid $orangeColor;
  &::before {
    background-color: $orangeColor;
  }
}

