.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: rem(40);
  @media (max-width: $mobile) {
    min-height: rem(420);
  }
  &._scroll {
    .header__wraper {
      background-color: rgba(255, 255, 255, 0.8);
      @media (any-hover: hover) {
        &:hover {
          background-color: rgba(255, 255, 255, 0.9);
        }
      }
    }

    .header__body {
      min-height: rem(50);
      @media (min-width: $tablet) {
        min-height: rem(70);
      }
    }
  }
  &__wraper {
    position: fixed;
    transition: background-color 0.3s ease 0s;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }

  &__container {
  }

  &__body {
    transition: min-height 0.3s ease 0s;
    display: flex;
    align-items: center;
    padding: toRem(5) 0;
    min-height: toRem(125);
    position: relative;

    @media (max-width: $tablet) {
      min-height: toRem(80);
    }
    @media (max-width: $mobile) {
      min-height: toRem(50);
    }
  }

  &__main {
    display: flex;
    flex: 0 0 calc(494 / 1240 * 100%);
    align-items: center;
    @media (max-width: $tablet) {
      flex: 1 1 auto;
    }
  }

  &__logo {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 700;
    line-height: math.div(29, 24);
    z-index: 5;
  }

  &__menu {
  }

  &__search {
    @include adaptiveValue('padding-right', 32, 15, 0);
    @media (min-width: $tablet) {
      flex: 1 1 auto;
    }
  }

  &__actions {
  }
}

.search-form {
  max-width: toRem(473);

  &._active {
    .search-form__item {
      top: 100%;
      opacity: 1;
      visibility: visible;
    }
    .search-form__icon {
      color: $orangeColor;
    }
  }
  &__icon {
    color: #262f56;
    position: relative;
    z-index: 5;
    font-size: rem(22);
    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__item {
    background-color: #fff;
    display: flex;
    align-items: center;
    @media (max-width: $tablet) {
      box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
      position: absolute;
      width: 100%;
      top: -100%;
      left: 0;
      z-index: 5;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
    }
  }

  &__btn {
    flex: 0 0 toRem(45);
    height: toRem(45);
    color: #262f56;
    font-size: toRem(15);
  }

  &__input {
    padding: toRem(12) toRem(16);
    color: $darkGrayColor;
    font-size: toRem(14);
    width: 100%;
  }
}
.actions-header {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  align-items: center;
  @include adaptiveValue('gap', 32, 15, 0);
  &__item {
    &_favorites {
      color: #262f56;
      font-size: rem(24);
      transition: color 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: $orangeColor;
        }
      }
    }

    &_user {
      overflow: hidden;
      border-radius: 50%;
      @include adaptiveValue('width', 40, 30, 0);
      @include adaptiveValue('height', 40, 30, 0);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.cart-header {
  &__icon {
    position: relative;
    display: block;
    color: #262f56;
    font-size: rem(24);
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $orangeColor;
      }
    }
    span {
      position: absolute;
      height: rem(20);
      width: rem(20);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $orangeColor;
      top: rem(-10);
      right: rem(-10);
      color: white;
      border-radius: 50%;
      font-size: rem(10);
    }
  }

  &__body {
    background-color: #f4f5f7;
    border: 1px solid #e0e0e0;
    position: absolute;
    top: rem(60);
    right: 0;
    padding: rem(15);
    width: rem(300);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transform: translate(0px, 20px);
    transition: all 0.3s ease 0s;
    ._active & {
      opacity: 1;
      visibility: visible;
      transform: translate(0px, 0px);
    }
    @media (max-width: $tablet) {
      top: rem(50);
    }
    @media (max-width: $mobile) {
      position: fixed;
      top: rem(50);
      left: 0;
      width: 100%;
    }
  }

  &__list {
  }
}
.cart-list {
  overflow: auto;
  max-height: rem(200);
  &__img {
    flex: 0 0 rem(100);
    height: rem(100);
  }
  &__body {
    flex: 1 1 auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 10px;
  }

  &__title {
    color: inherit;
    font-weight: 600;
    transition: color 0.3s ease 0s;
    margin-bottom: em(5, 16);
    @media (any-hover: hover) {
      &:hover {
        color: $orangeColor;
      }
    }
  }

  &__quantity {
    font-size: rem(14);
    margin-bottom: em(5, 16);
  }

  &__delete {
    color: red;
    font-size: rem(14);
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }
}
.icon-menu {
}
